@import "tailwindcss";
@plugin "daisyui";
@font-face {
  font-family: Nazanin;
  src: url(../fonts/Estedad-Regular.ttf);
}
@theme {
  --font-nazanin: Nazanin;
  --breakpoint-desktop: 800px;
  --breakpoint-mobile: 340px;
}
